.page-all {
    background: #fff;
    position: relative;
    overflow: hidden;

    .main {
        .mint-tab-container {
            .mint-tab-container-wrap {
                .mint-tab-container-item {
                    height: calc(100vh - 3.44rem);
                    overflow: auto;

                    // 搜索框
                    .homepage-search {
                        background-color: #fff;
                        padding: .5rem .7rem;
                        overflow: hidden;

                        .search-cell {
                            padding-left: .7rem;
                            background-color: #f7f8fa;
                            border-radius: .3rem;

                            border: {
                                color: #949cdf;
                                style: outset;
                                left-width: 2px;
                                top-width: 2px;
                            }

                            .search-field {
                                padding: .3rem .5rem .3rem 0;
                                display: flex;
                                align-items: center;
                                width: 100%;
                                overflow: hidden;
                                color: #323233;

                                .search-icon {
                                    font-size: 1rem;
                                    margin-right: .2rem;
                                }

                                .search-content {
                                    display: flex;
                                    align-items: center;
                                    flex: 1;
                                    font-size: .9rem;

                                    input[type="search"] {
                                        font-size: .9rem;
                                        border: 0;
                                        width: 100%;
                                        outline: none;
                                        background-color: transparent;

                                        &::-webkit-search-cancel-button {
                                            -webkit-appearance: none;

                                        }
                                    }

                                    span {
                                        color: #a29696;
                                        font-size: 1rem;
                                        padding: 0 .3rem;
                                    }
                                }

                                .search-sure {
                                    color: #fff;
                                    padding: 0 .2rem;
                                    letter-spacing: .2rem;
                                    text-align: center;
                                    vertical-align: middle;
                                    border-radius: .2rem;
                                    background-color: #93abd3;
                                    margin-left: .2rem;
                                    font-size: 1rem;
                                    width: auto;
                                }
                            }
                        }
                    }


                    // 轮播图
                    .homepage-swipper {
                        // height: 10vh;
                        height: calc(180 * (100vw - .4rem)/ 640);
                        padding: .4rem 1.2rem 0;

                        .mint-swipe {
                            .mint-swipe-items-wrap {
                                .mint-swipe-item {
                                    a>img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }


                    // 小菜单
                    .homepage-menu {
                        padding: .6rem .3rem;
                        display: flex;
                        flex-flow: row wrap;

                        .homepage-menuItem {
                            width: 20%;
                            margin-bottom: .9rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            p {
                                color: #666;
                                font-size: .8rem;
                                height: 1.2rem;
                                line-height: 1.2rem;
                                overflow: hidden;
                            }
                        }
                    }

                    // 加载动画
                    .loadingMore {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem 0 2rem;

                        >span {
                            position: relative;
                            left: -8%;

                            &::after {
                                display: inline-block;
                                height: 1rem;
                                line-height: 1rem;
                                width: 3.7rem;
                                position: absolute;
                                content: '加载中';
                                bottom: 10%;
                                left: 100%;
                                text-align: left;
                                margin-left: .3rem;
                                font-size: .9rem;
                                color: #888;
                            }
                        }

                        >p {
                            width: 7rem;
                            height: 2.2rem;
                            line-height: 1rem;
                            font-size: .9rem;
                            color: #888;
                            text-align: center;
                            padding: .6rem 0;
                        }
                    }

                    // 发消息按钮
                    .sendMessageBtn {
                        position: fixed;
                        left: 50%;
                        bottom: 14%;
                        margin-left: -12%;
                        z-index: 3;
                        animation: slideInUp .3s ease-in;

                        .mint-button {
                            width: 5.7rem;
                            color: #fff;
                            background-color: #738aa0;
                            border-radius: 1.2rem;
                            box-shadow: .1rem .1rem .7rem 0 rgba(116, 138, 160, .5);

                        }
                    }
                }
            }

        }
    }

    .sendMessagePop {
        width: 80vw;
        border-radius: .2rem;

        .messageTitle {
            padding: .9rem;
            text-align: center;
            position: relative;
            font-weight: 700;

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: .6rem;
                width: .84em;
                height: .3rem;
                margin-left: -.4rem;
                background-color: #ddd;
                border-radius: .15rem;
            }
        }

        .messageMain {
            margin-bottom: .6rem;
            display: flex;
            flex-flow: row wrap;

            .sortItem {
                padding: .6rem .9rem;
                flex: 1 0 50%;
                text-align: center;
            }
        }
    }


    .mint-tabbar {
        .mint-tab-item {
            position: relative;

            .mint-badge {
                position: absolute;
                top: 7%;
                right: 12%;
            }
        }
    }

}

@keyframes slideInUp {
    0% {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}