.messageSort {
    height: 100%;
    position: relative;

    .mint-field {

        // 加底线
        &::after {
            content: '';
            position: absolute;
            width: 96%;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            border-bottom: 1px solid #d9d9d9;
            margin: 0 auto;
        }

        ::v-deep textarea {
            resize: none;
        }
    }

    .mint-button {
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
    }
}