.messageSort {
    height: 100%;
    position: relative;

    .mint-field,
    .mint-cell,
    .upload {

        // 加底线
        &::after {
            content: '';
            position: absolute;
            width: 96%;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            border-bottom: 1px solid #d9d9d9;
            margin: 0 auto;
        }

        ::v-deep textarea {
            resize: none;
        }


        .unused-discuss {
            display: flex;
            align-items: center;
            padding-left: .4rem;
            border-left: 1px solid #ddd;
            position: relative;

            &::before {
                position: absolute;
                top: 0;
                content: '';
                width: 1.7rem;
                height: 1.7rem;
                border-radius: 50%;
                box-sizing: border-box;
                border: 1px solid #748aa0;
                // background-color: #f6f6f6;
            }

            // 选择面议框样式
            label {
                display: flex;
                position: relative;
                align-items: center;

                .check-icon {
                    // display: none;
                    opacity: 0;
                    width: 1.7rem;
                    height: 1.7rem;
                    border-radius: 50%;

                    &::after {
                        position: absolute;
                        content: '';
                        top: 55%;
                        left: 3%;
                        width: .6rem;
                        height: 1.2rem;
                        border-top: 3px solid #fff;
                        border-right: 3px solid #fff;
                        transform: scaleX(-1) rotate(135deg);
                        transform-origin: left top;
                    }
                }

                >span {
                    margin: 0 .3rem;
                    color: #999;
                }

            }

            input:checked {
                +label {
                    .check-icon {
                        // display: block;
                        opacity: 1;
                        background-color: rgba(64, 158, 255, .8);
                        transition: all .3s ease-out;
                    }
                }
            }

        }
    }

    // 禁用框的背景色
    ::v-deep input[type="text"]:disabled {
        background-color: #fff;
        color: #fff;
        -webkit-text-fill-color: #fff;
        cursor: not-allowed;
    }

    // 标签样式
    .mint-cell {


        ::v-deep .mint-cell-wrapper {
            padding-top: .8rem;
            padding-bottom: .8rem;

            .mint-cell-title {
                width: 105px;
                flex: none;
            }

            .mint-cell-value {
                flex: 1;
                display: flex;
                flex-flow: row wrap;
                align-items: center;

                >span {
                    margin-bottom: .2rem;
                    margin-left: .3rem;
                }
            }
        }

        .message-tag {
            background-color: #fff;
            display: inline-block;
            height: 2rem;
            padding: 0 .6rem;
            line-height: 1.9rem;
            font-size: .8rem;
            color: #909399;
            border: 1px solid #d3d4d6;
            border-radius: .25rem;
            box-sizing: border-box;
            white-space: nowrap;
        }

        // 标签选中之后的样式
        .message-tag-selected {
            background-color: #409eff;
            color: #fff;
            transition: all ease .4s;
        }
    }

    .surePost {
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        background-color: #fff;

        .mint-button {
            width: 85%;
            border-radius: 1.7rem;
            box-shadow: 0 0 1rem 0 rgba(33, 150, 243, .5);
        }
    }

    // 小分类样式
    .mint-actionsheet.innerTagsSheet {
        ::v-deep .mint-actionsheet-list {
            display: flex;
            flex-wrap: wrap;
            background-color: #fff;

            .mint-actionsheet-listitem {
                flex-basis: 50%;

                &:nth-of-type(2n) {
                    border-left: 1px solid #e0e0e0;
                }

                &:nth-of-type(even):nth-last-child(1),
                &:nth-of-type(odd):nth-last-child(2),
                &:nth-of-type(odd):last-of-type {
                    border-bottom: none;
                }
            }

        }
    }

    .shared-sort {
        padding-bottom: 3.5rem;

        .upload {
            padding: .8rem 10px;
            position: relative;

            .upload-title {
                padding-bottom: .6rem;
            }
        }
    }
}