.sort {
    height: 100%;
    overflow-y: auto;

    .mint-navbar {
        overflow-x: scroll;
        // IE
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        color: #535353;

        // 隐藏滚动条
        &::-webkit-scrollbar {
            display: none;
        }

        .mint-tab-item {

            ::v-deep .mint-tab-item-label {
                font-size: 1rem;
                font-weight: 700;
            }
        }
    }


    .mint-tab-container {
        height: calc(100vh - 3.4rem);
        margin-top: 3.4rem;
        overflow-y: scroll;


        ::v-deep .mint-tab-container-wrap {
            height: 100%;

            .mint-tab-container-item {
                height: 100%;
                position: relative;

                div.info-scroll {
                    height: 100%;
                    // height: auto;
                    overflow-y: auto;
                }

                // 暂无数据的样式
                div.no-info {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

        }

    }

}